.DS_Store
.ssh
home/.config/dein/dein
node_modules/

home/.config/gcloud/
home/.config/configstore/
home/.config/karabiner/
home/.config/Yamaha/

.netrwhist

home/.config/firebase
home/.config/iterm2

home/.config/custom_devices.json
home/.config/flutter/
home/.config/rstudio/
